[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
hypothesis = "*"
pytest-mock = "*"
pytest-cov = "*"

[packages]
lazy = "*"
pyyaml = "*"
terminaltables = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
